
body{
background: linear-gradient(to right, #00c6ff, #0072ff);
font-family: sans-serif;
}

.container{
    width: 360px;
    padding:  20px;
    text-align: center;
    background-color: beige;
    margin-left: 33%;
    margin-top: 10px;
}
input{
    width: 270x;
    padding: 8px;
    border: 2px solid rgb(6,145,145);
    outline:none;
}
button{
   width: 50px;
   height: 35px;
   background-color: black;
   color: white;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
}
